conky.config = {
    alignment = 'top_right',
    background = true,
    border_width = 1,
    color1 = 'CCAB8D',
    color2 = 'D1E7D1',
    color3 = 'FF0000',
    color4 = 'FFFFFF',
    cpu_avg_samples = 2,
    default_color = 'D1E7D1',
    double_buffer = true,
    draw_borders = false,
    draw_graph_borders = true,
    draw_outline = false,
    draw_shades = false,
    border_outer_margin = 20,
    maximum_width = 500,
    minimum_width = 500,
    max_user_text = 16384,
    no_buffers = true,
    own_window = true,
    own_window_class = 'Conky',
    own_window_type = 'override',
    own_window_transparent = false,
    own_window_argb_visual = true,
    own_window_argb_value = 128,
    update_interval = 2.0,
    use_xft = true,
    xftalpha = 0.8,
    font = 'Bitstream Vera Sans Mono:size=8'
}

conky.text = [[
    ${color1}$nodename					${alignr}$kernel
    ${color1}Uptime: ${color} $uptime ${color1}		${alignr}Load:${color} $loadavg
    $hr
    ${alignr}${color1}RAM: $memperc% = $mem / $memmax
    ${color #88cc00}${cpugraph 60,240 07CC0D FF0000 -t}                             ${goto 270}${color #88cc00}${memgraph 60,250 07CC0D FF0000 -t}
    ${color}CPU 1 : ${color1}${cpu cpu1}% ${goto 130}${cpubar cpu1 12,125}          ${goto 270}${color}CPU 5 : ${color1}${cpu cpu5}% ${alignr}${cpubar cpu5 12,125}
    ${color}CPU 2 : ${color1}${cpu cpu2}% ${goto 130}${cpubar cpu2 12,125}          ${goto 270}${color}CPU 6 : ${color1}${cpu cpu6}% ${alignr}${cpubar cpu6 12,125}
    ${color}CPU 3 : ${color1}${cpu cpu3}% ${goto 130}${cpubar cpu3 12,125}          ${goto 270}${color}CPU 7 : ${color1}${cpu cpu7}% ${alignr}${cpubar cpu7 12,125}
    ${color}CPU 4 : ${color1}${cpu cpu4}% ${goto 130}${cpubar cpu4 12,125}          ${goto 270}${color}CPU 8 : ${color1}${cpu cpu8}% ${alignr}${cpubar cpu8 12,125}
    ${color #88cc00}Swap Usage: $swapperc% = $swap/$swapmax ${color #88cc00} ${swapbar 4 color1 color3}

    $hr
    ${color1}Temperatures in Celsius:
    ${color1}HDDs                   ${alignr}       ${color} ${hddtemp /dev/sda}    ${hddtemp /dev/sdb}    ${hddtemp /dev/sdc}    ${hddtemp /dev/sdd}    ${hddtemp /dev/sde}
    ${color1}CPUs                   ${alignr}       ${color} ${hwmon 1 temp 1}    ${hwmon 1 temp 2}    ${hwmon 1 temp 3}    ${hwmon 1 temp 4}
    ${color1}GPU                    ${alignr}       ${color} ${execi 60 nvidia-settings -query [gpu:0]/GPUCoreTemp -t}°C
    ${color1}Graphics card:         ${alignr}       ${color} ${execi 10 nvidia-smi -q -a | grep -Eo 'GTX .+'}
    ${color1}Fan Speed:             ${alignr}       ${color} ${execi 10 nvidia-smi | grep -Eo '...%.+?W' | awk '{print $1}'}
    ${color1}GPU temp / max:        ${alignr}       ${color} ${execi 10 nvidia-smi | grep -Eo '...%.+?W' | awk '{print $2}'} / 99°C
    ${color1}Perf level:            ${alignr}       ${color} ${execi 10 nvidia-smi | grep -Eo '...%.+?W' | awk '{print $3}'}
    ${color1}Power use / max:       ${alignr}       ${color} ${execi 10 nvidia-smi | grep -Eo '...%.+?W' | awk '{print $4}'} / 120W

    $hr
    ${color1}File systems:
    ${color1}nvme     ${color}${fs_used /}/${fs_size /}${color1}
    ${fs_bar 12 /}
    ${color1}Read ${color} ${diskio_read /dev/nvme0n1}                              ${goto 270}${color1}Write: ${color}${diskio_write /dev/nvme0n1}
    ${color1}${diskiograph_read /dev/nvme0n1 60,240 07CC0D FF0000 -t}${color1}         ${goto 270}${diskiograph_write /dev/nvme0n1 60,250 07CC0D FF0000 -t}
    ${color1}VMs SSD     ${color}${fs_used /home/pascalwhoop/VMs}/${fs_size /home/pascalwhoop/VMs}${color1}
    ${fs_bar 12 /home/pascalwhoop/VMs}}
    ${color1}Read ${color} ${diskio_read /dev/disk/by-uuid/6a9dbce8-b052-4b2c-b6c2-783b220a156e}
    ${goto 270}${color1}Write: ${color}${diskio_write /dev/disk/by-uuid/6a9dbce8-b052-4b2c-b6c2-783b220a156e}
    ${color1}${diskiograph_read /dev/disk/by-uuid/6a9dbce8-b052-4b2c-b6c2-783b220a156e 60,240 07CC0D FF0000 -t}${color1}         ${goto 270}${diskiograph_write /dev/disk/by-uuid/6a9dbce8-b052-4b2c-b6c2-783b220a156e 60,250 07CC0D FF0000 -t}
    ${color1}tank     ${color}${fs_used /home/pascalwhoop/tank}/${fs_size /home/pascalwhoop/tank}${color1}
    ${fs_bar 12 /home/pascalwhoop/tank}

# ZFS Pool Data IO

 ${color1}/home      ${color}${fs_used /home}/${fs_size /home}${alignr}${color1} ${fs_bar 12,120 /home}
# ${color1}/opt       ${color}${fs_used /opt}/${fs_size /opt}${alignr}${color1} ${fs_bar 12,120 /opt}
# ${color1}/usr/local ${color}${fs_used /usr/local}/${fs_size /usr/local}${alignr}${color1} ${fs_bar 12,120 /usr/local}
 ${color1}/var       ${color}${fs_used /var}/${fs_size /var}${alignr}${color1} ${fs_bar 12,120 /var}
# ${color1}/share1    ${color}${fs_used /share1}/${fs_size /share1}${alignr}${color1} ${fs_bar 12,120 /share1}
							
    ${color1}backup   ${color}${fs_used /mnt/ae8b7402-a1c4-43f4-a9fe-c9d73acf4b31}/${fs_size /mnt/ae8b7402-a1c4-43f4-a9fe-c9d73acf4b31}${color1}
    ${fs_bar 12 /mnt/ae8b7402-a1c4-43f4-a9fe-c9d73acf4b31}

    $hr
    ${color1}Top Processes:
    ${color1}Name              PID    CPU%   MEM%  TIME     USER
    ${color}${top name 1} ${top pid 1} ${top cpu 1} ${top mem 1} ${top time 1} ${top user 1}
    ${color}${top name 2} ${top pid 2} ${top cpu 2} ${top mem 2} ${top time 2} ${top user 2}
]];
